# 주가누르기방지법 시행 수혜주 분석

## 데이터 전처리

In [2]:
import pandas as pd
import numpy as np

In [3]:
stock = pd.read_excel('data/전종목시세_20260125.xlsx')

/opt/homebrew/lib/python3.13/site-packages/openpyxl/styles/stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [96]:
stock.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2894 entries, 0 to 2893
Data columns (total 14 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   종목코드    2894 non-null   object
 1   종목명     2894 non-null   object
 2   시장구분    2894 non-null   object
 3   소속부     1940 non-null   object
 4   종가      2894 non-null   int64
 5   대비      2894 non-null   int64
 6   등락률     2894 non-null   float64
 7   시가      2894 non-null   int64
 8   고가      2894 non-null   int64
 9   저가      2894 non-null   int64
 10  거래량     2894 non-null   int64
 11  거래대금    2894 non-null   int64
 12  시가총액    2894 non-null   int64
 13  상장주식수   2894 non-null   int64
dtypes: float64(1), int64(9), object(4)
memory usage: 316.7+ KB

In [97]:
stock.head()

,종목코드,종목명,시장구분,소속부,종가,대비,등락률,시가,고가,저가,거래량,거래대금,시가총액,상장주식수
0,060310,3S,KOSDAQ,벤처기업부,1493,8,0.54,1480,1509,1462,352498,521801737,79217146720,53059040
1,095570,AJ네트웍스,KOSPI,NaN,4580,60,1.33,4520,4590,4500,120575,548860109,207257636220,45252759
2,006840,AK홀딩스,KOSPI,NaN,8180,280,3.54,7910,8200,7880,38205,309209335,108365048980,13247561
3,054620,APS,KOSDAQ,중견기업부,4485,-305,-6.37,4945,4945,4380,240049,1087386170,82498081185,18394221
4,265520,AP시스템,KOSDAQ,우량기업부,19020,0,0.00,19200,19200,18720,107884,2045583535,286266615420,15050821

In [4]:
pbr = pd.read_excel('data/PER:PBR:배당수익률_20260125.xlsx')
pbr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2731 entries, 0 to 2730
Data columns (total 13 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   종목코드    2731 non-null   object
 1   종목명     2731 non-null   object
 2   종가      2731 non-null   int64
 3   대비      2731 non-null   int64
 4   등락률     2731 non-null   float64
 5   EPS     2731 non-null   object
 6   PER     2731 non-null   object
 7   선행 EPS  2731 non-null   object
 8   선행 PER  2731 non-null   object
 9   BPS     2731 non-null   object
 10  PBR     2731 non-null   object
 11  주당배당금   2731 non-null   int64
 12  배당수익률   2731 non-null   float64
dtypes: float64(2), int64(3), object(8)
memory usage: 277.5+ KB

/opt/homebrew/lib/python3.13/site-packages/openpyxl/styles/stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [6]:
stock_info = pd.merge(stock, pbr, 'right', on='종목코드')
stock_info.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2731 entries, 0 to 2730
Data columns (total 26 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   종목코드    2731 non-null   object
 1   종목명_x   2731 non-null   object
 2   시장구분    2731 non-null   object
 3   소속부     1808 non-null   object
 4   종가_x    2731 non-null   int64
 5   대비_x    2731 non-null   int64
 6   등락률_x   2731 non-null   float64
 7   시가      2731 non-null   int64
 8   고가      2731 non-null   int64
 9   저가      2731 non-null   int64
 10  거래량     2731 non-null   int64
 11  거래대금    2731 non-null   int64
 12  시가총액    2731 non-null   int64
 13  상장주식수   2731 non-null   int64
 14  종목명_y   2731 non-null   object
 15  종가_y    2731 non-null   int64
 16  대비_y    2731 non-null   int64
 17  등락률_y   2731 non-null   float64
 18  EPS     2731 non-null   object
 19  PER     2731 non-null   object
 20  선행 EPS  2731 non-null   object
 21  선행 PER  2731 non-null   object
 22  BPS     2731 non-null   object
 23  PBR     2731 non-null   object
 24  주당배당금   2731 non-null   int64
 25  배당수익률   2731 non-null   float64
dtypes: float64(3), int64(12), object(11)
memory usage: 554.9+ KB

In [100]:
stock_info.columns

Index(['종목코드', '종목명_x', '시장구분', '소속부', '종가_x', '대비_x', '등락률_x', '시가', '고가',
       '저가', '거래량', '거래대금', '시가총액', '상장주식수', '종목명_y', '종가_y', '대비_y', '등락률_y',
       'EPS', 'PER', '선행 EPS', '선행 PER', 'BPS', 'PBR', '주당배당금', '배당수익률'],
      dtype='object')

In [7]:
# y컬럼 제거
drop_columns = ['종목명_y', '종가_y', '대비_y', '등락률_y']
stock_info.drop(columns=drop_columns, inplace=True)

stock_info.rename(columns={
    '종목명_x': '종목명',
    '종가_x': '종가',
    '대비_x': '대비',
    '등락률_x': '등락률',
    }
    , inplace=True)

stock_info.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2731 entries, 0 to 2730
Data columns (total 22 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   종목코드    2731 non-null   object
 1   종목명     2731 non-null   object
 2   시장구분    2731 non-null   object
 3   소속부     1808 non-null   object
 4   종가      2731 non-null   int64
 5   대비      2731 non-null   int64
 6   등락률     2731 non-null   float64
 7   시가      2731 non-null   int64
 8   고가      2731 non-null   int64
 9   저가      2731 non-null   int64
 10  거래량     2731 non-null   int64
 11  거래대금    2731 non-null   int64
 12  시가총액    2731 non-null   int64
 13  상장주식수   2731 non-null   int64
 14  EPS     2731 non-null   object
 15  PER     2731 non-null   object
 16  선행 EPS  2731 non-null   object
 17  선행 PER  2731 non-null   object
 18  BPS     2731 non-null   object
 19  PBR     2731 non-null   object
 20  주당배당금   2731 non-null   int64
 21  배당수익률   2731 non-null   float64
dtypes: float64(2), int64(10), object(10)
memory usage: 469.5+ KB

In [8]:
stock_info.head()

,종목코드,종목명,시장구분,소속부,종가,대비,등락률,시가,고가,저가,...,시가총액,상장주식수,EPS,PER,선행 EPS,선행 PER,BPS,PBR,주당배당금,배당수익률
0,060310,3S,KOSDAQ,벤처기업부,1493,8,0.54,1480,1509,1462,...,79217146720,53059040,-,-,-,-,933,1.6,0,0.00
1,095570,AJ네트웍스,KOSPI,NaN,4580,60,1.33,4520,4590,4500,...,207257636220,45252759,485,9.44,390,11.74,9902,0.46,270,5.90
2,006840,AK홀딩스,KOSPI,NaN,8180,280,3.54,7910,8200,7880,...,108365048980,13247561,-,-,-,-,40295,0.2,400,4.89
3,054620,APS,KOSDAQ,중견기업부,4485,-305,-6.37,4945,4945,4380,...,82498081185,18394221,-,-,-,-,11326,0.4,0,0.00
4,265520,AP시스템,KOSDAQ,우량기업부,19020,0,0.00,19200,19200,18720,...,286266615420,15050821,3448,5.52,-,-,22405,0.85,530,2.79

## 데이터 분석

In [102]:
benefit_analyze = stock_info[['종목코드', '종목명', '종가', 'BPS', 'PBR']]

In [103]:
benefit_analyze['BPS'] = pd.to_numeric(benefit_analyze['BPS'], errors='coerce')
benefit_analyze['PBR'] = pd.to_numeric(benefit_analyze['PBR'], errors='coerce')
benefit_analyze.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2731 entries, 0 to 2730
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   종목코드    2731 non-null   object
 1   종목명     2731 non-null   object
 2   종가      2731 non-null   int64
 3   BPS     2503 non-null   float64
 4   PBR     2503 non-null   float64
dtypes: float64(2), int64(1), object(2)
memory usage: 106.8+ KB

/var/folders/hs/rtg9fqjx0917kl_vv90lq8d40000gp/T/ipykernel_47068/133720322.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  benefit_analyze['BPS'] = pd.to_numeric(benefit_analyze['BPS'], errors='coerce')
/var/folders/hs/rtg9fqjx0917kl_vv90lq8d40000gp/T/ipykernel_47068/133720322.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  benefit_analyze['PBR'] = pd.to_numeric(benefit_analyze['PBR'], errors='coerce')

In [104]:
benefit_analyze['T_Price'] = benefit_analyze['BPS'] * 0.8
benefit_analyze['D_Support'] = benefit_analyze['BPS'] * 0.35
benefit_analyze['U_Potential'] = (benefit_analyze['T_Price'] / benefit_analyze['종가'] - 1) * 100
benefit_analyze['RR_Ratio'] = (benefit_analyze['T_Price'] - benefit_analyze['종가']) / (benefit_analyze['종가'] - benefit_analyze['D_Support'])

benefit_analyze.head()

/var/folders/hs/rtg9fqjx0917kl_vv90lq8d40000gp/T/ipykernel_47068/2216221026.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  benefit_analyze['T_Price'] = benefit_analyze['BPS'] * 0.8
/var/folders/hs/rtg9fqjx0917kl_vv90lq8d40000gp/T/ipykernel_47068/2216221026.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  benefit_analyze['D_Support'] = benefit_analyze['BPS'] * 0.35
/var/folders/hs/rtg9fqjx0917kl_vv90lq8d40000gp/T/ipykernel_47068/2216221026.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  benefit_analyze['U_Potential'] = (benefit_analyze['T_Price'] / benefit_analyze['종가'] - 1) * 100
/var/folders/hs/rtg9fqjx0917kl_vv90lq8d40000gp/T/ipykernel_47068/2216221026.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  benefit_analyze['RR_Ratio'] = (benefit_analyze['T_Price'] - benefit_analyze['종가']) / (benefit_analyze['종가'] - benefit_analyze['D_Support'])

,종목코드,종목명,종가,BPS,PBR,T_Price,D_Support,U_Potential,RR_Ratio
0,060310,3S,1493,933.0,1.60,746.4,326.55,-50.006698,-0.640062
1,095570,AJ네트웍스,4580,9902.0,0.46,7921.6,3465.70,72.960699,2.998833
2,006840,AK홀딩스,8180,40295.0,0.20,32236.0,14103.25,294.083130,-4.061284
3,054620,APS,4485,11326.0,0.40,9060.8,3964.10,102.024526,8.784412
4,265520,AP시스템,19020,22405.0,0.85,17924.0,7841.75,-5.762355,-0.098048

In [105]:
result = benefit_analyze.sort_values(by=['U_Potential'], ascending=False)

In [111]:
result.reset_index(drop=True, inplace=True)

In [ ]:
# 2025 상장폐지 사유 발생 기업 필터링
delisting_stock = ['국보', '웰바이오텍', '세원이엔씨', '아이에이치큐', '이아이디', 'KH 필룩스', '금양', 
                   'KC코트렐', 'KC그린홀딩스', '범양건설', '효성화학', '한국패러랠', '한창']

# result.drop()
result.drop(result[result['종목명'].isin(delisting_stock)].index, inplace=True)

In [112]:
result.head(20)

,종목코드,종목명,종가,BPS,PBR,T_Price,D_Support,U_Potential,RR_Ratio
0,363280,티와이홀딩스,2610,25637.0,0.10,20509.6,8972.95,685.808429,-2.813098
1,052300,오션인더블유,2195,16980.0,0.13,13584.0,5943.00,518.861048,-3.038687
2,002820,SUN&L,2415,18466.0,0.13,14772.8,6463.10,511.710145,-3.052741
3,001230,동국홀딩스,7260,52411.0,0.14,41928.8,18343.85,477.531680,-3.127866
4,104480,티케이케미칼,1718,12191.0,0.14,9752.8,4266.85,467.683353,-3.152324
5,023530,롯데쇼핑,78900,548412.0,0.14,438729.6,191944.20,456.057795,-3.183088
6,143210,핸즈코퍼레이션,1172,7762.0,0.15,6209.6,2716.70,429.829352,-3.261216
7,004960,한신공영,10180,66856.0,0.15,53484.8,23399.60,425.390963,-3.275803
8,043090,더테크놀로지,380,2490.0,0.15,1992.0,871.50,424.210526,-3.279756
9,460850,동국씨엠,5280,34015.0,0.16,27212.0,11905.25,415.378788,-3.310366
10,040610,SG&G,1777,11277.0,0.16,9021.6,3946.95,407.687113,-3.338602
11,001810,무림SP,1448,9075.0,0.16,7260.0,3176.25,401.381215,-3.362939
12,109960,앱토크롬,245,1503.0,0.16,1202.4,526.05,390.775510,-3.406511
13,011370,서한,882,5346.0,0.16,4276.8,1871.10,384.897959,-3.432211
14,037400,우리엔터프라이즈,952,5728.0,0.17,4582.4,2004.80,381.344538,-3.448328
15,446070,유니드비티플러스,3180,18967.0,0.17,15173.6,6638.45,377.157233,-3.467912
16,000180,성창기업지주,1421,8292.0,0.17,6633.6,2902.20,366.826179,-3.519174
17,003240,태광산업,811000,4668610.0,0.17,3734888.0,1634013.50,360.528730,-3.552661
18,151860,KG에코솔루션,5700,32529.0,0.18,26023.2,11385.15,356.547368,-3.574787
19,009200,무림페이퍼,1913,10852.0,0.18,8681.6,3798.20,353.821223,-3.590388

In [108]:
# RR Ratio가 1 이상인 기업 상위 20개 기업
result[result['RR_Ratio'] > 1.0].head(20)

,종목코드,종목명,종가,BPS,PBR,T_Price,D_Support,U_Potential,RR_Ratio
63,007700,F&F홀딩스,19840,56520.0,0.35,45216.0,19782.00,127.903226,437.517241
2330,022220,티케이지애강,666,1892.0,0.35,1513.6,662.20,127.267267,223.052632
1389,101390,아이엠,396,1116.0,0.35,892.8,390.60,125.454545,92.000000
1225,115570,스타플렉스,3000,8429.0,0.36,6743.2,2950.15,124.773333,75.089268
1482,060540,에스에이티,1401,3921.0,0.36,3136.8,1372.35,123.897216,60.586387
2670,227840,현대코퍼레이션홀딩스,12020,33621.0,0.36,26896.8,11767.35,123.767055,58.883040
626,005160,동국산업,2685,7508.0,0.36,6006.4,2627.80,123.702048,58.066434
1898,063760,이엘피,2530,7068.0,0.36,5654.4,2473.80,123.494071,55.594306
2111,016920,카스,1017,2837.0,0.36,2269.6,992.95,123.166175,52.083160
1978,317400,자이에스앤디,4005,11167.0,0.36,8933.6,3908.45,123.061174,51.047126
394,214330,금호에이치티,537,1497.0,0.36,1197.6,523.95,123.016760,50.620690
81,089470,HDC현대EP,4620,12861.0,0.36,10288.8,4501.35,122.701299,47.777497
132,024120,KB오토시스,3720,10346.0,0.36,8276.8,3621.10,122.494624,46.074823
890,035620,바른손이앤에이,329,913.0,0.36,730.4,319.55,122.006079,42.476190
2218,052330,코텍,9480,26307.0,0.36,21045.6,9207.45,122.000000,42.434783
70,001250,GS글로벌,2330,6449.0,0.36,5159.2,2257.15,121.424893,38.835964
2716,079980,휴비스,2580,7140.0,0.36,5712.0,2499.00,121.395349,38.666667
2678,308100,형지글로벌,1384,3822.0,0.36,3057.6,1337.70,120.924855,36.146868
1214,084180,수성웹툰,2595,7164.0,0.36,5731.2,2507.40,120.855491,35.801370
1730,153490,우리이앤엘,644,1776.0,0.36,1420.8,621.60,120.621118,34.678571

In [109]:
', '.join(result[result['RR_Ratio'] > 1.0].head(20)['종목명'])

'F&F홀딩스, 티케이지애강, 아이엠, 스타플렉스, 에스에이티, 현대코퍼레이션홀딩스, 동국산업, 이엘피, 카스, 자이에스앤디, 금호에이치티, HDC현대EP, KB오토시스, 바른손이앤에이, 코텍, GS글로벌, 휴비스, 형지글로벌, 수성웹툰, 우리이앤엘'

In [86]:
compare_result = result[result['종목명'].isin(['CJ CGV', '하림지주', '한국타이어앤테크놀로지', '이마트', '롯데케미칼', '한신공영', '태광산업'])]

compare_result['BPS'] = compare_result['BPS'].astype(int)
compare_result = compare_result.round(2)

/var/folders/hs/rtg9fqjx0917kl_vv90lq8d40000gp/T/ipykernel_47068/3901853452.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  compare_result['BPS'] = compare_result['BPS'].astype(int)

In [92]:
compare_result.style.hide(axis='index').format({
    'BPS': '{:.0f}',
    'PBR': '{:.2f}',
    'T_Price': '{:.2f}',
    'D_Support': '{:.0f}',
    'U_Potential': '{:.2f}',
    'RR_Ratio': '{:.2f}',
})

In [93]:
compare_result

,종목코드,종목명,종가,BPS,PBR,T_Price,D_Support,U_Potential,RR_Ratio
7,004960,한신공영,10180,66856,0.15,53484.8,23399.60,425.39,-3.28
17,003240,태광산업,811000,4668610,0.17,3734888.0,1634013.50,360.53,-3.55
54,139480,이마트,87200,387877,0.22,310301.6,135756.95,255.85,-4.59
65,011170,롯데케미칼,80300,340367,0.24,272293.6,119128.45,239.10,-4.94
271,003380,하림지주,11780,31545,0.37,25236.0,11040.75,114.23,18.20
951,161390,한국타이어앤테크놀로지,67200,90995,0.74,72796.0,31848.25,8.33,0.16
1627,079160,CJ CGV,6200,4177,1.48,3341.6,1461.95,-46.10,-0.60

In [113]:
result[result['종목명'].isin(['티와이홀딩스'])].style.hide(axis='index').format({
    'BPS': '{:.0f}',
    'PBR': '{:.2f}',
    'T_Price': '{:.2f}',
    'D_Support': '{:.0f}',
    'U_Potential': '{:.2f}',
    'RR_Ratio': '{:.2f}',
})

In [117]:
result[result['종목명'].isin(['KG에코솔루션', '오션인더블유', '티케이케미칼', '유성티엔에스', 'SG&G', '동국홀딩스', '무림페이퍼', '성창기업지주'])].style.hide(axis='index').format({
    'BPS': '{:.0f}',
    'PBR': '{:.2f}',
    'T_Price': '{:.2f}',
    'D_Support': '{:.0f}',
    'U_Potential': '{:.2f}',
    'RR_Ratio': '{:.2f}',
})

# 모듈화 테스트

In [16]:
def get_data_with_api():
    import os
    import requests
    import json

    KRX_API_KEY = os.getenv('KRX_API_KEY')
    # 유가증권 일별매매정보, 코덱스 일별매매정보
    API_ID = ['stk_bydd_trd', 'ksq_bydd_trd']
    SERVER_ENDPOINT_URL = "http://data-dbg.krx.co.kr/svc/apis/sto/"

    targetDate = '20260126'
    params = {'basDd': targetDate}
    headers = {'AUTH_KEY': KRX_API_KEY}

    dfs = []
    for id in API_ID:
        res = requests.get(url=SERVER_ENDPOINT_URL + id, params=params, headers=headers)
        data = json.loads(res.text)

        if 'OutBlock_1' in data:
            data = pd.DataFrame(data['OutBlock_1'])
            dfs.append(data)
        else:
            print(f"No data in {id}")
            continue
        
    result = pd.concat(dfs, axis=0)

    return result

In [17]:
api_result = get_data_with_api()

In [18]:
api_result

,BAS_DD,ISU_CD,ISU_NM,MKT_NM,SECT_TP_NM,TDD_CLSPRC,CMPPREVDD_PRC,FLUC_RT,TDD_OPNPRC,TDD_HGPRC,TDD_LWPRC,ACC_TRDVOL,ACC_TRDVAL,MKTCAP,LIST_SHRS
0,20260126,095570,AJ네트웍스,KOSPI,-,4685,105,2.29,4580,4700,4580,179496,837244017,212009175915,45252759
1,20260126,006840,AK홀딩스,KOSPI,-,8180,0,0.00,8260,8450,8090,28909,237753655,108365048980,13247561
2,20260126,027410,BGF,KOSPI,-,4030,70,1.77,4010,4055,3975,201873,810075725,385738667730,95716791
3,20260126,282330,BGF리테일,KOSPI,-,114000,-3200,-2.73,117200,118000,113600,43461,4973441700,1970365284000,17283906
4,20260126,138930,BNK금융지주,KOSPI,-,15920,20,0.13,15870,16090,15840,621713,9893095810,4940406365360,310327033
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1821,20260126,024060,흥구석유,KOSDAQ,중견기업부,13070,540,4.31,12760,13230,12750,1210990,15680747720,196050000000,15000000
1822,20260126,010240,흥국,KOSDAQ,우량기업부,4995,0,0.00,4980,5000,4855,37496,186259205,58471470000,11706000
1823,20260126,189980,흥국에프엔비,KOSDAQ,우량기업부,1559,24,1.56,1535,1570,1530,86450,134494362,62574872293,40137827
1824,20260126,037440,희림,KOSDAQ,우량기업부,4475,5,0.11,4470,4475,4400,58114,257690465,62303075625,13922475
1825,20260126,238490,힘스,KOSDAQ,벤처기업부,3290,90,2.81,3165,3300,3165,46063,150485980,37217256440,11312236

In [19]:
column_name = ['기준일자', '종목코드', '종목명', '시장구분', '소속부', '종가', '대비', '등락률', 
               '시가', '고가', '저가', '거래량', '거래대금', '시가총액', '상장주식수']
api_result.columns = column_name
api_result

,기준일자,종목코드,종목명,시장구분,소속부,종가,대비,등락률,시가,고가,저가,거래량,거래대금,시가총액,상장주식수
0,20260126,095570,AJ네트웍스,KOSPI,-,4685,105,2.29,4580,4700,4580,179496,837244017,212009175915,45252759
1,20260126,006840,AK홀딩스,KOSPI,-,8180,0,0.00,8260,8450,8090,28909,237753655,108365048980,13247561
2,20260126,027410,BGF,KOSPI,-,4030,70,1.77,4010,4055,3975,201873,810075725,385738667730,95716791
3,20260126,282330,BGF리테일,KOSPI,-,114000,-3200,-2.73,117200,118000,113600,43461,4973441700,1970365284000,17283906
4,20260126,138930,BNK금융지주,KOSPI,-,15920,20,0.13,15870,16090,15840,621713,9893095810,4940406365360,310327033
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1821,20260126,024060,흥구석유,KOSDAQ,중견기업부,13070,540,4.31,12760,13230,12750,1210990,15680747720,196050000000,15000000
1822,20260126,010240,흥국,KOSDAQ,우량기업부,4995,0,0.00,4980,5000,4855,37496,186259205,58471470000,11706000
1823,20260126,189980,흥국에프엔비,KOSDAQ,우량기업부,1559,24,1.56,1535,1570,1530,86450,134494362,62574872293,40137827
1824,20260126,037440,희림,KOSDAQ,우량기업부,4475,5,0.11,4470,4475,4400,58114,257690465,62303075625,13922475
1825,20260126,238490,힘스,KOSDAQ,벤처기업부,3290,90,2.81,3165,3300,3165,46063,150485980,37217256440,11312236

In [ ]:
api_result.info() # 모두 object non-nullable 컬럼으로 되어있음.

<class 'pandas.core.frame.DataFrame'>
Index: 2778 entries, 0 to 1825
Data columns (total 15 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   기준일자    2778 non-null   object
 1   종목코드    2778 non-null   object
 2   종목명     2778 non-null   object
 3   시장구분    2778 non-null   object
 4   소속부     2778 non-null   object
 5   종가      2778 non-null   object
 6   대비      2778 non-null   object
 7   등락률     2778 non-null   object
 8   시가      2778 non-null   object
 9   고가      2778 non-null   object
 10  저가      2778 non-null   object
 11  거래량     2778 non-null   object
 12  거래대금    2778 non-null   object
 13  시가총액    2778 non-null   object
 14  상장주식수   2778 non-null   object
dtypes: object(15)
memory usage: 347.2+ KB